In [2]:
import pandas as pd 
import numpy as np

In [5]:
data = pd.read_csv('train.csv')

In [6]:
data.head()

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,...,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,ff8081815733a243015733b2876600a6,BHK2,"Cauvery Colony,Koramangala",21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,...,2,E,2,6,12,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2,40000
1,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,09-10-2017 12:48,12.929557,77.672280,ANYONE,0,1,0,...,2,NE,2,3,4,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2,22000
2,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,12-06-2018 22:02,12.982870,80.262012,FAMILY,0,1,0,...,3,E,3,1,5,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3,28000
3,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,...,1,E,1,1,2,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0,8000
4,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,...,3,E,4,0,0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1,45000

In [8]:
data.shape

(20500, 25)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20500 entries, 0 to 20499
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               20500 non-null  object
 1   type             20500 non-null  object
 2   locality         20500 non-null  object
 3   activation_date  20500 non-null  object
 4   latitude         20500 non-null  float64
 5   longitude        20500 non-null  float64
 6   lease_type       20500 non-null  object
 7   gym              20500 non-null  int64
 8   lift             20500 non-null  int64
 9   swimming_pool    20500 non-null  int64
 10  negotiable       20500 non-null  int64
 11  furnishing       20500 non-null  object
 12  parking          20500 non-null  object
 13  property_size    20500 non-null  int64
 14  property_age     20500 non-null  int64
 15  bathroom         20500 non-null  int64
 16  facing           20500 non-null  object
 17  cup_board        20500 non-null  int64
 18  floor            20500 non-null  int64
 19  total_floor      20500 non-null  int64
 20  amenities        20500 non-null  object
 21  water_supply     20500 non-null  object
 22  building_type    20500 non-null  object
 23  balconies        20500 non-null  int64
 24  rent             20500 non-null  int64
dtypes: float64(2), int64(12), object(11)
memory usage: 3.9+ MB

In [12]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

ff8081815733a243015733b2876600a6    1
ff80818161b248ff0161b278482a18fb    1
ff8081816035b49201603e6588396a30    1
ff80818159c49a360159c62d9bbc1b24    1
ff808181634eaf9801634f419cdb254d    1
                                   ..
ff80818152648bcb015267c587550b7b    1
ff8081816135ff3e016137b8ea576f71    1
ff808181630c64f00163104efbcc7b0b    1
ff80818151669a40015171096176537e    1
ff80818156fdef920156fe0eb0e807d0    1
Name: id, Length: 20500, dtype: int64
********************
BHK2        11679
BHK3         4403
BHK1         3601
RK1           553
BHK4          233
BHK4PLUS       31
Name: type, dtype: int64
********************
Whitefield                                                          908
HSR Layout                                                          684
Banashankari                                                        644
Marathahalli                                                        475
Bellandur                                                           439
                                                                   ...
Canara Bank Colony                                                    1
Bommenahalli                                                          1
Chikkalasandra, Bengaluru, Karnataka, India                           1
Koramangala 3 Block, Bengaluru, Karnataka, India                      1
Mahadevapura bus stop, Mahadevapura, Bengaluru, Karnataka, India      1
Name: locality, Length: 1938, dtype: int64
********************
04-11-2017 18:11    4
02-07-2018 14:35    3
10-10-2017 16:09    3
04-06-2018 17:42    3
11-07-2018 18:20    3
                   ..
02-08-2017 15:44    1
19-06-2018 14:15    1
04-08-2017 21:13    1
29-01-2018 17:41    1
08-07-2018 22:31    1
Name: activation_date, Length: 19566, dtype: int64
********************
12.939517    67
12.902062    46
12.969800    42
12.904365    27
12.966168    26
             ..
12.912429     1
12.964033     1
12.950680     1
12.967931     1
12.998645     1
Name: latitude, Length: 17733, dtype: int64
********************
77.730667    67
77.664076    46
77.749947    42
77.707085    27
77.724777    26
             ..
77.506191     1
77.551303     1
77.612671     1
77.578331     1
77.574336     1
Name: longitude, Length: 17726, dtype: int64
********************
FAMILY      10174
ANYONE       9681
BACHELOR      587
COMPANY        58
Name: lease_type, dtype: int64
********************
0    15852
1     4648
Name: gym, dtype: int64
********************
0    13090
1     7410
Name: lift, dtype: int64
********************
0    16914
1     3586
Name: swimming_pool, dtype: int64
********************
1    14586
0     5914
Name: negotiable, dtype: int64
********************
SEMI_FURNISHED     17895
NOT_FURNISHED       1429
FULLY_FURNISHED     1176
Name: furnishing, dtype: int64
********************
BOTH            10799
TWO_WHEELER      7211
FOUR_WHEELER     1448
NONE             1042
Name: parking, dtype: int64
********************
1200    1784
600     1450
1000    1292
800     1086
1100     897
        ...
1628       1
1051       1
948        1
1913       1
415        1
Name: property_size, Length: 1141, dtype: int64
********************
 0      3338
 10     2864
 5      2753
 1      2116
 3      1895
 2      1324
 4       984
 8       958
 7       828
 15      776
 6       774
 20      414
 12      342
 9       328
 25      128
 13      103
 11      100
 30       98
 14       82
 18       59
 16       42
 17       42
-1        33
 40       17
 22       15
 50       12
 19       11
 21       11
 35        9
 23        8
 27        6
 34        5
 45        4
 24        4
 28        3
 26        3
 33        3
 100       2
 37        1
 42        1
 60        1
 80        1
 49        1
 400       1
Name: property_age, dtype: int64
********************
2     11284
1      6254
3      2637
4       287
5        33
6         3
21        1
7         1
Name: bathroom, dtype: int64
********************
E     9514
N     5917
W     2628
S     1219
NE     817
SE     197
NW     149
SW      59
Name: facing, dtype: int64
********************
2        8580
3        3781
1        3740
0        1875
4        1312
5         447
6         426
8         114
7          77
10         75
9          36
12         17
15          6
11          5
20          4
16          2
13          1
40          1
48026       1
Name: cup_board, dtype: int64
********************
1     5875
0     4985
2     4535
3     2589
4     1191
5      293
6      205
7      187
9      132
8      121
10     103
11      86
12      58
14      44
13      31
15      23
16      17
17       9
19       6
18       5
20       3
25       1
22       1
Name: floor, dtype: int64
********************
2     4855
4     4825
3     4662
1     2106
5     1481
0      363
14     240
12     214
6      212
9      207
11     197
10     195
8      183
13     171
7      168
15     124
19      70
16      65
18      53
17      37
20      25
21      18
23       9
24       7
25       5
22       4
26       4
Name: total_floor, dtype: int64
********************
{"LIFT":false,"GYM":false,"INTERNET":true,"AC":false,"CLUB":false,"INTERCOM":false,"POOL":false,"CPA":false,"FS":false,"SERVANT":false,"SECURITY":false,"SC":false,"GP":false,"PARK":false,"RWH":false,"STP":false,"HK":false,"PB":false,"VP":false}     2157
{"LIFT":false,"GYM":false,"INTERNET":true,"AC":false,"CLUB":false,"INTERCOM":false,"POOL":false,"CPA":false,"FS":false,"SERVANT":false,"SECURITY":false,"SC":true,"GP":false,"PARK":true,"RWH":false,"STP":false,"HK":false,"PB":false,"VP":false}       1936
{"LIFT":false,"GYM":false,"INTERNET":false,"AC":false,"CLUB":false,"INTERCOM":false,"POOL":false,"CPA":false,"FS":false,"SERVANT":false,"SECURITY":false,"SC":false,"GP":false,"PARK":false,"RWH":false,"STP":false,"HK":false,"PB":false,"VP":false}     724
{"LIFT":false,"GYM":false,"INTERNET":true,"AC":false,"CLUB":false,"INTERCOM":false,"POOL":false,"CPA":false,"FS":false,"SERVANT":false,"SECURITY":false,"SC":true,"GP":false,"PARK":false,"RWH":false,"STP":false,"HK":false,"PB":false,"VP":false}       438
{"LIFT":false,"GYM":false,"INTERNET":true,"AC":false,"CLUB":false,"INTERCOM":false,"POOL":false,"CPA":true,"FS":false,"SERVANT":false,"SECURITY":false,"SC":true,"GP":false,"PARK":true,"RWH":false,"STP":false,"HK":false,"PB":false,"VP":false}         421
                                                                                                                                                                                                                                                         ...
{"LIFT":true,"GYM":true,"INTERNET":true,"AC":true,"CLUB":true,"INTERCOM":false,"POOL":true,"CPA":true,"FS":true,"SERVANT":false,"SECURITY":true,"SC":false,"GP":false,"PARK":true,"RWH":true,"STP":true,"HK":true,"PB":true,"VP":false}                     1
{"LIFT":false,"GYM":false,"INTERNET":true,"AC":false,"CLUB":false,"INTERCOM":false,"POOL":false,"CPA":true,"FS":false,"SERVANT":false,"SECURITY":true,"SC":true,"GP":false,"PARK":true,"RWH":false,"STP":false,"HK":true,"PB":true,"VP":true}               1
{"LIFT":false,"GYM":false,"INTERNET":true,"AC":false,"CLUB":false,"INTERCOM":false,"POOL":false,"CPA":false,"FS":false,"SERVANT":false,"SECURITY":false,"SC":true,"GP":true,"PARK":false,"RWH":false,"STP":false,"HK":false,"PB":false,"VP":true}           1
{"LIFT":true,"GYM":false,"INTERNET":false,"AC":false,"CLUB":true,"INTERCOM":true,"POOL":true,"CPA":true,"FS":true,"SERVANT":false,"SECURITY":true,"SC":false,"GP":false,"PARK":false,"RWH":false,"STP":true,"HK":false,"PB":true,"VP":true}                 1
{"LIFT":true,"GYM":true,"INTERNET":true,"AC":false,"CLUB":true,"INTERCOM":false,"POOL":false,"CPA":true,"FS":false,"SERVANT":false,"SECURITY":true,"SC":false,"GP":false,"PARK":true,"RWH":false,"STP":false,"HK":false,"PB":true,"VP":false}               1
Name: amenities, Length: 4994, dtype: int64
********************
CORP_BORE      10693
CORPORATION     6719
BOREWELL        3088
Name: water_supply, dtype: int64
********************
IF    9238
AP    8854
IH    2391
GC      17
Name: building_type, dtype: int64
********************
1     7996
0     5899
2     4673
3     1592
4      291
5       41
6        4
10       3
13       1
Name: balconies, dtype: int64
********************
15000    1339
20000    1336
25000    1089
12000    1046
18000    1005
         ...
11200       1
14600       1
16600       1
13750       1
23150       1
Name: rent, Length: 206, dtype: int64
********************

In [13]:
data.isna().sum()

id                 0
type               0
locality           0
activation_date    0
latitude           0
longitude          0
lease_type         0
gym                0
lift               0
swimming_pool      0
negotiable         0
furnishing         0
parking            0
property_size      0
property_age       0
bathroom           0
facing             0
cup_board          0
floor              0
total_floor        0
amenities          0
water_supply       0
building_type      0
balconies          0
rent               0
dtype: int64

In [20]:
data.drop(columns=[],inplace=True)